<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871607272353-f78gflk21l1st8i8l8qg01m2t4mo7avo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871607272353-f78gflk21l1st8i8l8qg01m2t4mo7avo</string>
	<key>API_KEY</key>
	<string>AIzaSyCLRpRCC2HJy1FKLl_sZQw4Yj52BpBSv2g</string>
	<key>GCM_SENDER_ID</key>
	<string>871607272353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnshop</string>
	<key>PROJECT_ID</key>
	<string>rn-e-commerce-fe8d5</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-e-commerce-fe8d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871607272353:ios:9ac8a9a664453c6b9841e0</string>
</dict>
</plist>